.layout{
  max-width:1400px;
}

.aside-content{
    max-width:318px;
    min-width:300px;
}
.recent-posts{
  width:auto!important;
}

@media screen and (max-width: 900px){
    .aside-content{
        max-width:none!important;
		padding: 0 5px 0 5px;
    }
}

#archive,#page,#category,#tag{
    width:100%;
}
.page:not(.page.home) .aside-content{
    display: none;
}

/*背景透明*/
.page #page:not(.home #page),.page #tag,.page #archive,.page #category{
    background: transparent!important;
    border: none!important;
    box-shadow: none!important;
    padding-top: 0;
}

