@font-face {
  font-family: "iconfont"; /* Project id 3861843 */
  src: url('//at.alicdn.com/t/c/font_3861843_pt7wzgl19m.woff2?t=1673517730097') format('woff2'),
       url('//at.alicdn.com/t/c/font_3861843_pt7wzgl19m.woff?t=1673517730097') format('woff'),
       url('//at.alicdn.com/t/c/font_3861843_pt7wzgl19m.ttf?t=1673517730097') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-rss:before {
  content: "\e600";
}

.icon-github:before {
  content: "\e85a";
}

.icon-yinle:before {
  content: "\e63c";
}

.icon-csdn:before {
  content: "\e601";
}

.icon-shejiaoxinxi:before {
  content: "\e620";
}

.icon-liuyan:before {
  content: "\e680";
}

.icon-dianying:before {
  content: "\e684";
}

.icon-weixin:before {
  content: "\e621";
}

.icon-aixin:before {
  content: "\e741";
}

.icon-email:before {
  content: "\e628";
}

.icon-LINKBUILDING:before {
  content: "\e8fa";
}

.icon-zhifubao:before {
  content: "\e663";
}

.icon-QQ:before {
  content: "\e667";
}

.icon-email1:before {
  content: "\e603";
}

.icon-dongman:before {
  content: "\e6b0";
}

.icon-guidang:before {
  content: "\e6b9";
}

.icon-qiqiu:before {
  content: "\e669";
}

.icon-biaoqianA01_fenlei-02:before {
  content: "\ea8b";
}

.icon-biaoqian:before {
  content: "\e6dc";
}

.icon-wenzhangliebiao:before {
  content: "\e653";
}

.icon-liebiao:before {
  content: "\ecae";
}

.icon-bilibili:before {
  content: "\e609";
}

.icon-gitee:before {
  content: "\e60c";
}

.icon-SmartHome:before {
  content: "\e74a";
}

